# Database variables
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ossa

# PgAdmin
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin

# Database URL
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/ossa

# Auth (gere a chave secreta aqui https://better-auth.com/docs/installation)
BETTER_AUTH_SECRET=2cY8qjIZPKvvGW1lI6SEoRBrPQiQ2L9C
BETTER_AUTH_URL=http://localhost:3000
NEXT_PUBLIC_URL=http://localhost:3000